node_modules/
src/
coverage/
.vscode/
.DS_Store

jest.config.*
eslint.config.*
.eslintrc.*
prettier.config.*
tsconfig.json
tsup.config.ts

*.log
.env
.env.*
.envrc
*.tsbuildinfo

**/*.spec.js
**/*.test.js
__tests__/
